@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }
  body {
    @apply font-body;
  }
  a {
    @apply text-linkMobileColor sm:text-linkColor;
  }

  a:hover {
    @apply text-linkMobileColor sm:text-linkColor;
  }

  h1 {
    @apply text-xl sm:text-2xl lg:text-2xl;
  }

  article h1 {
    @apply text-3xl sm:text-4xl lg:text-4xl;
  }

  #content {
    @apply text-gray-900 text-base leading-7 !important;
    word-break: break-word;
    overflow-wrap: break-word;

    & a {
      @apply text-linkColor underline;
    }

    & code:not(pre) {
      text-shadow: none;
      @apply px-2 py-1 rounded;
    }

    & .language-text {
      @apply bg-gray-200 text-gray-800;
    }

    & .box {
      @apply p-4 mb-6 border-double border-[3px] border-customGray sm:p-6;

      & p {
        @apply mb-6;
        &:last-child {
          @apply mb-0;
        }
      }

      & ul,
      & ol {
        @apply my-0;
      }
    }

    & h2,
    & h3,
    & h4 {
      @apply text-gray-600 font-bold my-8;
      letter-spacing: -0.02em;
    }

    & h2 {
      @apply text-2xl sm:text-3xl lg:text-3xl;
      letter-spacing: -0.05em;
    }

    & h3 {
      @apply text-xl sm:text-2xl lg:text-2xl;
    }

    & h4 {
      @apply text-lg sm:text-xl lg:text-xl;
    }

    & p {
      @apply mb-6 font-normal;
    }

    & ul,
    & ol {
      @apply pl-5 sm:pl-8 my-6;
    }

    & ol {
      @apply list-decimal;
    }

    & ul {
      @apply list-disc;
    }

    & ul ul {
      @apply pt-2 my-0;
      list-style-type: circle;
    }

    & ul ul ul {
      list-style-type: square;
    }

    & li {
      @apply mb-4;
    }

    & li p {
      @apply mb-0;
    }

    & li:last-child {
      @apply mb-0;
    }

    & blockquote {
      @apply my-10 p-6 border-solid border-l-8 border-customGray italic;
    }

    & blockquote li p {
      @apply mb-0;
    }

    & blockquote p {
      @apply mb-6;
    }

    & blockquote p:last-child {
      @apply mb-0;
    }

    & table {
      @apply w-full h-auto text-center my-6 border-collapse overflow-x-auto block;
      white-space: nowrap;
    }

    & table thead {
      @apply bg-gray-50;
    }

    & table th,
    & table td {
      @apply border border-customGray;
    }

    @apply sm:text-lg lg:text-xl;

    & iframe {
      @apply w-full;
    }
  }

  & .size-full {
    @apply w-full h-auto;
  }

  & .resp-image-link {
    @apply h-auto mb-7 -mx-4 sm:-mx-14 flex justify-center;
  }

  & .resp-image-link picture {
    @apply block relative w-full h-auto max-w-[800px] -mx-14 overflow-hidden;
  }
}

@media (min-width: 1024px) {
  /* lg: */
  /* スクロールバー */
  html {
    overflow: hidden;
  }

  body {
    overflow: auto;
  }

  body::-webkit-scrollbar {
    width: 16px; /* スクロールバーの幅 */
  }

  body::-webkit-scrollbar-track {
    background: #f1f1f1; /* スクロールバーのトラックの背景色 */
  }

  body::-webkit-scrollbar-thumb {
    background: #888; /* スクロールバーの色 */
  }

  body::-webkit-scrollbar-thumb:hover {
    background: #555; /* スクロールバーをホバーしたときの色 */
  }

  /* カスタムクラスを使ってスクロールバーを60px右にずらす */
  .scrollbar-custom {
    position: fixed;
    right: 60px;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    width: calc(100vw - 60px); /* スクロールバーの幅を調整 */
  }
}
