@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }
  body {
    @apply font-body !important;
  }
  a {
    @apply text-linkColor;
  }
  a:hover {
    @apply text-linkColor;
  }
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
  padding-right: 60px; /* スクロールバーのスペースを確保 */
}

body::-webkit-scrollbar {
  width: 16px; /* スクロールバーの幅 */
}

body::-webkit-scrollbar-track {
  background: #f1f1f1; /* スクロールバーのトラックの背景色 */
}

body::-webkit-scrollbar-thumb {
  background: #888; /* スクロールバーの色 */
}

body::-webkit-scrollbar-thumb:hover {
  background: #555; /* スクロールバーをホバーしたときの色 */
}

/* カスタムクラスを使ってスクロールバーを60px右にずらす */
.scrollbar-custom {
  position: fixed;
  right: 60px;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  width: calc(100vw - 60px); /* スクロールバーの幅を調整 */
}
